{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/Form_design2.css' %}"/>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-1.10.2.js' %}"></script>
	<style>
        *{
            font-family: 'Poppins', sans-serif;
        }
        .nav-item{
            padding-left:10px;
		}
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>
    <!-- Navigation bar -->
	<nav class="px-5 navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="{% url 'home' %}"><img height="40" src="/media/logo2.png"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse mt-2" id="navbar">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="h6 nav-link" href="{% url 'home' %}">Home</span></a>
				</li>
				<li class="nav-item">
					<a class="h6 nav-link" href="{% url 'add_student' %}">Add student</a>
				</li>
				<li class="nav-item">
					<a class="h6 nav-link" href="{% url 'report' %}">Reports</a>
				</li>
			</ul>
			<button class="btn btn-danger" onclick="logout()">Logout</button>
		</div>
	</nav>

    {% block body %}
    {% endblock %}
	<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
	<script>
		function logout(){
			if(confirm('Are you sure want to logout?')==true){
				window.location.href = "{% url 'faculty_logout' %}";
			}
		}
	</script>
</body>
</html>